<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>htmlforms</title>
</head>
<body>
    <center>
        <h1>htmlforms</h1>
        <form action="" method="POST">
            {% csrf_token %}

            <label for="un">UserName</label>
            <input type="text" name="un" id="un"> <br> <br>

            <label for="un">Password</label>
            <input type="password" name="pw" id="pw"> <br> <br>

            <input type="submit" value="LogIN">

        </form>
    </center>
    
</body>
</html>